<div class="container " style="margin:69px auto ; width:90%;" >
    <div class="row">
        <div class="col-6 offset-3 ">
            <h4>Agregar una nueva novedad</h4>
            <form action="/admin/novedades/agregar" method="post" enctype="multipart/form-data">
                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="Titulo Novedad" name="titulo">
                </div>
                <div class="mb-3 row">
                    
                     <input type='date' class='form-control'step="1" min="2000-01-01" max="2050-12-31" placeholder="Fecha AAA-MM-DD" name='fecha' ">
                </div>

                <div class="mb-3 row">
                    <textarea type="text" class="form-control" placeholder="Cuerpo" name="cuerpo"></textarea>
                </div>
                <div class="mb-3 row">
                    <label>Imagen:<input type="file" class="form-control" name="imagen" id="imagen" ></label>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
             
            {{#if error}}
                <br>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong> 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            
            {{/if}}

        </div>



    </div>

</div>