<!DOCTYPE html>
<html lang="es">
  <head>
    <meta name="description" content="Regalos Male">
    <meta name="author" content="Lucas Tarres ">
    <meta http-equiv="content-type" content="text/html;ISO-8859-1">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="content-language" content="es">
    <meta http-equiv="revisit-after" content="30 days">
  
    <title>Regalos Male-Tu Tienda de Regalos </title>

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
  

  </head>
  <header class="flex-shrink-0 py-5 bg-dark text-white-50">
    <div class="container text-center">
            <h1>Encabezado</h1>
    </div>
    </header>

  {{{body}}}

  <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Lucas Tarres</small>
    </div>
  </footer>

