
<body class="d-flex flex-column">
  <div id="page-content">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-md-7">
            <h1> Soy el Body  </h1>
              <p class="lead text-white-50">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto omnis modi ratione nesciunt suscipit, harum corporis dolores doloribus eveniet sint inventore sit facilis quis voluptatibus amet nostrum magni odio iste?</p>
        </div>
      </div>
    </div>
  </div>